/* pages/editword/editword.wxss */
#main{
  
}
.ziti {
   font-family: zhankuxiaowei;
}

.share_page_show {
   position: fixed;
   width: 100%;
   height: 100vh;
   top: 0;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 11;
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
   text-align: center;
}

.share_page_hide {
   position: fixed;
   width: 100%;
   display: none;
   top: 0;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 11;
}


.share_page {
   display: flex;
   width: 100%;
   height: 100vh;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   overflow: hidden;
}

.share_page>img {
   height: 85%;
}

.close_btn{
	width: .6rem;
   height: .6rem;
   margin-left: .2rem;
}

.btn_cric_view {
   width: 5rem;
   height: .6rem;
   border-radius: .5rem;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   font-size: .32rem;
   color: whitesmoke;
   font-weight: bold;
   letter-spacing: .01rem;
}



.authView {
   margin-top: 50%;
   background-color: whitesmoke;
   padding: 50rpx;
   border-radius: 20rpx;
   display: flex;
   flex-direction: row;
}

#main {
   background: #C51D1C url(./../image/newHk.jpg) no-repeat;
   background-size: cover;
}

.content {
   padding: 0.8rem 0.3rem;
   min-height: 50%;
}

.inputFrom {
   border: 0.18rem solid #990100;
   border-radius: .14rem;
   background: #FAFAE2;
   padding: .2rem;
   text-align: center;
   font-size: .35rem;
}

.zitiSty {
   color: #A32500;
   font-family: zhankuxiaowei;
   margin-top: .2rem;
   font-size: .4rem;
}

.iptSty {
   background: #FFF;
   padding: .2rem;
   margin-top: .2rem;
   border-radius: .06rem;
}
textarea::-webkit-input-placeholder {
   color: #D06C33;
}
input::-webkit-input-placeholder {
   color: #D06C33;
}
#text2{
   display: flex;
   align-items: center;
   text-align: center;
   font-size: 0.3rem;
   min-height: 1.5rem;
}
.iptColor {
   border: none;
   width: 100%;
   outline: none;
   text-align: center;
   font-size: .3rem;
}

.tarea {
   outline: none;
   min-height: 2.5rem;
}
.ipt{
   position: relative;
}
#choose{
   color: #D06C33;
   font-size: .3rem;
   margin-bottom: 0.3rem;
}
.zhufubox{
   text-align: left;
   width: 100%;
   color: #fff;
   overflow-y: hidden;
   overflow-x: auto;
}
.zhu{
   white-space: nowrap;
}
.zhufu{
   display: inline-block;
   font-size: .3rem;;
   margin-right: .3rem;
   text-align: left;
   width: 3.7rem;
   height: 1.8rem;
   padding: .14rem;
  border-radius: .25rem;
  color: #000;
  position: relative;
  overflow: hidden;
  color: #fff;
  margin: 5px;
    box-shadow: 1px 1px 2px 2px wheat;
 
}
.zhufubox .zhufu:nth-child(1){
   background-color: #08C8FE;
}
.zhufubox .zhufu:nth-child(2){
   background-color: #1DA261;
}
.zhufubox .zhufu:nth-child(3){
   background-color: #FFCA28;
}
.zhufu div{
   white-space: normal;
   position: absolute;
   height: 90%;
   left: 50%;
   transform: translateX(-50%);
   width: 3.6rem;
   text-align: center;
   overflow: auto;
}
.zhufubox .zhufu:last-child{
   border-bottom: none;
}
.zhufubox .bg{
   background-color: #C01817!important;
   background: url(../image/choosebg.png) top center no-repeat;
   background-size: cover;
}
.bg::after{
   content: '';
   position: absolute;
   bottom: .15rem;
   right: .15rem;
   width: .4rem;
   height: .4rem;
   background: url(../image/check.png) top left no-repeat;
   background-size: contain;
}
.tarea:empty:before {
   content: attr(placeholder);
   color: #D06C33;
}

.tarea:focus:before {
   content: none;
}

.btnBar {
   display: flex;
   justify-content: center;
   margin-top: .3rem;
   font-size: .33rem;
}

.btnBar>div {
   background: #C21A19;
   padding: .1rem .2rem;
   color: #FFF;
}

.btnBar>div:hover {
   background: #990100;
}

.hint {
   color: #D06C33;
   margin-top: .35rem;
   text-align: left;
}

.hint-item{
   display: flex;
}
.hint-item div{
   color: #aaa;
   font-size: .28rem;
}
.hint i:before{
   content: '*';
    width: 3px;
    height: 3px;
    display: inline-block;
    vertical-align: top;
    margin: 0 .24rem 0 0;
}